/* Glassmorphism effect */
.glass-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

/* Neon border */
.neon-border {
  border: 2px solid rgba(0, 255, 200, 0.7);
  box-shadow: 0 0 10px rgba(0, 255, 200, 0.8), 
              0 0 20px rgba(0, 255, 200, 0.6), 
              0 0 30px rgba(0, 255, 200, 0.4);
  transition: box-shadow 0.3s ease-in-out;

}

@keyframes neonBorder {
   0% {
    box-shadow: 0 0 10px rgba(0, 255, 200, 0.8), 
              0 0 20px rgba(0, 255, 200, 0.6), 
              0 0 30px rgba(0, 255, 200, 0.4);
   }
   50% {
    box-shadow: 0 0 15px rgba(0, 255, 200, 1), 
              0 0 30px rgba(0, 255, 200, 0.8), 
              0 0 45px rgba(0, 255, 200, 0.6);
   }
   100%{
     box-shadow: 0 0 10px rgba(0, 255, 200, 0.8), 
              0 0 20px rgba(0, 255, 200, 0.6), 
              0 0 30px rgba(0, 255, 200, 0.4);
   }
}
.neon-border:hover {
  box-shadow: 0 0 15px rgba(0, 255, 200, 1), 
              0 0 30px rgba(0, 255, 200, 0.8), 
              0 0 45px rgba(0, 255, 200, 0.6);
}

/* Neon text */
.text-neon {
  color: #0ff;
  -webkit-text-stroke: .3px rgb(41, 39, 39);
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
}
